body{
    background-color: rgb(89, 89, 222);
    margin: 0;
}

header{
    background-color: white;
    padding: 0px;
    justify-content: space-between;
    display: flex;
}

header img{
    margin-left: 20px;
    margin-bottom: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    position: relative;
    bottom: -80px;
}
nav a{
    background-color: rgb(89, 89, 222);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;

}

nav a:hover{
    background-color: rgb(43, 43, 223);
}

footer{
    background-color: white;
    display: block;
    position: relative;
    bottom: -350px;;
}

footer div{
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-right: 10px;
}

footer p{
    font-weight: bold;
    margin-left: 5px;
}

footer a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 5px;
}

.contacto{
    text-align: left;
    flex-direction: column;
}

.redes, .contacto, .ubicacion{
    display: inline-block;
    width: 20%; 
    vertical-align: top; 
    margin-right: 110px; 
    padding: 10px;
    margin-left: 65px;
}

article{
    display: inline-block;
    width: 350px;
    height: 35%;
    margin-top: 50px;
    margin-left: 100px;
    border: transparent solid 3px;

    }
article:hover{
    border: 3px solid white;
}    


article img{
    size: contain;
}
section{
    background-color: rgb(75, 74, 74);
    width: 350px; 
}
section p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: larger;
}
section button{
    background-color: rgb(75, 74, 74);
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-left: 130px;
    margin-bottom: 20px;
    border-width: 2px;
    border-color: white;
    color: white;
}
section button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    
}

h1{
    text-align: center;
    font-size: 55px;
    color: white;
    margin-top: 15px;
    margin-top: 50px;
}
h2{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 20px;
}

h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin: 40px;
}

.texto-con-fondo{
    background-image: url(https://media.traveler.es/photos/62262e1ef294efab528104d7/16:9/w_2560%2Cc_limit/tron-le-JsuBKjHGDMM-unsplash%2520jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 15px;
    padding-bottom: 50px;
    text-align: left;
    height: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.texto-nosotros{
    color: white;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    font-size: 20px;

}

.caracteristica1, .caracteristica2, .caracteristica3{
    display: inline-block;
    width: 25%; 
    vertical-align: top; 
    margin-right: 2%; 
    padding: 10px;
}

h4{
    margin-top: 70px;
}